#TELEGRAM AND MISTRAL API's
TG_TOKEN = "your_telegram_api_token"
MISTRAL_TOKEN = "your_mistral_api_token"
MISTRAL_MODEL_NAME = "mistral-small-latest"

#POSTGRES
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=your_table_name
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password

#CHROMA DB
HF_MODEL_NAME="ai-forever/sbert_large_nlu_ru"
CHROMA_DB_FOLDER="./chroma_db_folder"